[submodule "UnityProj/ThirdParty/FairyGUI-unity"]
	path = UnityProj/ThirdParty/FairyGUI-unity
	url = https://github.com/fairygui/FairyGUI-unity.git
[submodule "UnityProj/ThirdParty/spine-runtimes"]
	path = UnityProj/ThirdParty/spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes.git
	branch = 4.2
